<div class="navbar">
  <div class="navbar-fixed-top">
    <div class="container" style="width: auto;">
      <div class="nav-collapse" id="nav-collapse">
        <ul class="nav" id="nav">
          <li class="active"><a href="#home"  >HOME</a></li>
          <li class="active"><a href="#experiences">EXPERIENCES</a></li>
          <li class="active"><a href="#movies">MOVIES</a></li>
          <li class="active"><a href="#events">EVENTS</a></li>
          <li class="active"><a href="#plays">PLAYS</a></li>
          <li class="active"><a href="#sports">SPORTS</a></li>
             <input class="active" type="text" name="search" placeholder="Search..">











        </ul>
        <!--<ul class="nav2" id="nav">-->


        <!--</ul>-->

        <!--<form>-->
        <!---->
        <!--</form>-->
      </div>
    </div>
  </div>
</div>
